@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    display: flexbox;
}
.main{
    display: flex;
    flex-direction: column;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
#left{
    height: 100vh;
    display: flex;
    align-items: end;
}
#rgt{
    display: flex;
    align-items: center;
}
@media(max-width: 770px) {
    #left{
        height: 100vh;
        display: flex;
        align-items: start;
    }
    #rgt{
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
  }

  @media(max-width: 163px) {
    #left{
        height: 100vh;
        display: flex;
        align-items: start;
    }
    #rgt{
        margin-top: 50px;
        display: flex;
        align-items: center;
    }
  }
.container{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container2{
    padding-top: 0px;
    /* mask-repeat: no-repeat; */
}
















